@import '../../styles/variables';

button{
  padding: 5px 10px;
  border-radius: 5px;
  background: transparent;
  transition: 0.1s ease-in-out;
  border: 1.5px solid $font-color;
  border-radius: 10px;
  color: $font-color;
  font-size: 13px;
  cursor: pointer;

  &:hover{
    background: $font-color;
    border: 1.5px solid $font-color;
    color: #4b1589;
  }
}