@import './Styles/variables';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
  color: $font-color;
}

body{
  display: flex;
  justify-content: center;
  min-height: 100vh;  
  background: rgb(64,16,84);
  background: linear-gradient(137deg, rgba(64,16,84,1) 0%, rgba(14,50,83,1) 100%);
  margin-top: 30px;
}

